@page
@model LinkShareApp.Pages.AdminModel
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div  class=" mt-5">
    <a asp-page="/Links/Index" class="btn btn-block btn-outline-success ">Manage URLS</a>
    <a asp-page="/Codes/Index" class="btn btn-block btn-outline-dark mt-3 ">Manage Codes</a>

</div>

