@page "{id}"
@model LinkShareApp.Pages.CheckoutModel
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
    <div class="card col-4 offset-4 bg-white">
        <div class="card-body">
            <h5 class="card-title">Use this code to unlock link after paying @Model.Code.Amount Euros.</h5>
            <h1 class="card-text text-success">@Model.Code.CodeTerm</h1>
            <a href="/Verify/@Model.Code.LinkId/@Model.Code.CodeTerm" >Use This Code</a>


        </div>


    </div>

