@page "{Linkid}"
@model LinkShareApp.Pages.PurchaseCodeModel
@{
ViewData["Title"] = "PurchaseCode";
Layout = "~/Pages/Shared/_Layout.cshtml";
}
   <script src="https://www.paypal.com/sdk/js?client-id=SB_CLIENT_ID&currency=USD">
    </script>
    <div id="paypal-button-container"></div>
      <script>
    paypal.Buttons().render('#paypal-button-container');
  </script>
@{ var item = Model.Link;

<div class="card col-4 offset-4 bg-white">
    <div class="card-body">
        <h5 class="card-title">@item.UrlName</h5>
        <p class="card-text">@item.Description <br /> Price for next 24 hour access is: @item.PricePerDay.ToString("C")</p>
        <!-- Example split danger button -->
        <div class="btn-group">
            <button type="button" class="btn btn-outline-success">Checkout</button>
            <button type="button" class="btn btn-outline-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item disabled btn btn-outline-dark" href="#">Via PayPal</a>
                <a class="dropdown-item btn btn-outline-dark" href="/Checkout/@item.ID">Via Cash</a>
            </div>
        </div>

    </div>


</div>


}