@page "{Urlid}"
@model VerifyModel
@{
ViewData["Title"] = "Verify Access Code";
}
<div class="list-group mt-4">
    @{
        var item= Model.Link;

    <div class="card col-4 offset-4 bg-white">
        <div class="card-body">
            <h5 class="card-title">@item.UrlName</h5>
            <p class="card-text">@item.Description</p>
            <div class="form-group">
                <label for="code" class="control-label">Enetr Code</label>
                <input type="text" required id="code" name="code" class="form-control" />
                <input type="hidden" id="id" name="id" value="@item.ID" />

            </div>
            <button type="submit" class="btn btn-outline-success" onclick="GetCode()">Go</button>
            <a href="/PurchaseCode/@item.ID" class="btn btn-outline-primary" >Purchase Code</a>

        </div>
        
        
    </div>


    }
</div>