@page "{id}/{code}"
@model LinkShareApp.Pages.VerifyCodeModel
@{
    ViewData["Title"] = "VerifyCode";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="card col-4 offset-4 bg-white">
    <div class="card-body">
        <h5 class="card-title text-danger">@Model.Message</h5>

    </div>


</div>


